__pycache__
*.np*
.unotes/
.ipynb_checkpoints/
*.pkl
!cascadeClassifier.pkl
!indecies.npy
*.last
test_classifier copy.ipynb
StrongClassifier/
temp/
azure/
*.ini
new_data3/
new_data5/

new_data3.zip
new_data4.zip
new_data5.zip