__pycache__
*.np*
.unotes/
.ipynb_checkpoints/
*.pkl
!cascadeClassifier.pkl
!indecies.npy
*.last
test_classifier copy.ipynb
StrongClassifier/
temp/
azure/
*.ini
new_data3/
new_data5/
*.zip
non_faces/
face.train
face.test
Features
Features2
hFeatures/
hFeatures3/
hFeatures3_2/
hFeatures5/
hFeatures5_2/
hFeatures5_3/

old
