__pycache__
*.np*
.unotes/
.ipynb_checkpoints/
*.pkl
!cascadeClassifier.pkl
!indecies.npy
*.last
test_classifier copy.ipynb
StrongClassifier/
temp/
azure/
*.ini
new_data3/
new_data5/
new_data6/
*.zip
non_faces/
face
face*
Features*
Features
hFeatures*
!hFeatures6/
!faceDetector*
old
test.ipynb